.ContactFigure {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0px;
}

.ContactImage {
    display: block;
    width: 100%;
    margin: -24% 0;
    filter: brightness(80%);
}

.ImageText {
    position: absolute;
    top: 33%;
    width: 90%;
    text-align: right;
    font-size: 38px;
    font-weight: bold;
    color: rgb(115, 230, 132);
}

.ServicesContainer {
    width: 53%;
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
}

.Service {
    width: 455px;
    margin: 0 20px;
}

.ServiceHeader {
    display: flex;
    justify-content: space-between;
}

.ServiceTitle {
    font-size: 25px;
    color: #14A329;
    display: flex;
    align-items: center;
}

.ServiceContent {
    font-size: 21px;
    line-height: 1.3;
    text-align: justify;
}

.Map {
    margin-left: 0;
    height: 400px;
    width: 100%;
}