@font-face {
  font-family: 'Montserrat Light';
  src: local('Montserrat Light'), url('./fonts/Montserrat-Light.woff') format('woff'), 
  url('./fonts/Montserrat-Light.woff2') format('woff2')
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat Light', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}